.battleContainer {
  display: flex;
  margin: auto;
  width: 55vw;
}
.centerContainer {
    margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.centerContainer p {
  font-size: 60px;
  margin: 100px;
}

.dialog {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  background-image: radial-gradient( #000000ad 0%, #000000dc 100%);
}
.winnerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winnerImg {
  width: 300px;
  height: 300px;
  margin: 30px 40px 0 40px;
}
